.main{
	width:600px;
	height: 500px;
	background-color: linen;
	border: 2px solid black;
	box-sizing: border-box;
	position: relative;
	background-image: url('cl.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	


}
.new{
	width: 150px;
	height: auto;
	margin: 0px;
	padding: 0px;
	border: 2px solid black;
    box-sizing: border-box;
    background-color: red;
	float: left;
	text-transform: uppercase;
	color: white;
	text-align: center;


}
.date{
	width: 150px;
	height: auto;
	border: 2px solid black;
	box-sizing: border-box;
	float: right;
	background-color: blue;
	text-transform: uppercase;
	color: white;
	text-align: center;
	
}
.box{
	width:140px;
	height: 140px;
	color: white;
	text-align: center;
	background-color: purple;
	border: 2px solid gray;
	box-sizing: border-box;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all;
	animation-name: example ;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	cursor: pointer;
}
	

	
 @keyframes example {
    0%   {color:red; }
    25%  {color:yellow;}
    50%  {color:blue; }
    75%  {color:green; }
    85%  {color:pink; }
    100%  {color:gray; }
    


}

@keyframes colorchange {
    0%   {background-color:red ;   }
    25%  {background-color:yellow;  }
    50%  {background-color:blue;  }
    75%  {background-color:green;  }
    85%  {background-color:pink;  }
    100%  {background-color:gray;  }


}

.button{
	width: 80px;
	height: 60px;
	position: absolute;
	top:400px;
	left: 480px;
	border-color: 2px solid black;
	border-radius: 50%;
	background-color: purple;
	transition: all;

	

}
.button:hover{
	animation-name: colorchange ;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	transform: translate(-30%);
	
}


